@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* 60%-#C0D7BB */
/* 30%-#85BDA6 */
/* 10%-#3E885B */

* {
    margin: 0px;
    border: 0px;
}


body {
    background-color: #C0D7BB;
}

.heading {
    font-family: "Oswald", sans-serif;
}

.heading-one.div {
    text-align: center;
    width: 550px;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px auto;
    font-size: 30px;
}

/* .heading.one {
    background-color: #3E885B;
    width: 280px;
    height: auto;
} */

.heading.two,
.heading.three,
.heading.four {
    background-color: #85BDA6;
}



